
.card-container{
  --yangColor: rgb(216, 194, 30);
  --rColor: #ff0000;
  --gColor: #008000;
  --bColor: #0000ff;
  /* --yinColor: #111111;  */
  --yinColor: #131b1e; 
  --borderRadius: 20px;
  background-color: #131b1e;
  margin-left: -10px;
  margin-right: -8.3px;
}
.canvas {
  position: 100vw;
  height: 100vh;
  background: var(--yinColor);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 90vw;
}

.card-item {
  position: relative;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 240px;
  grid-template-areas: 'image' 'text';
  border-radius: var(--borderRadius);
  background: var(--yinColor);
  text-align: center;
  font-size: 12px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.rgb::after {
  position: absolute;
  content: '';
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  inset: -3px;
  animation: rgb 8s linear infinite;
  border-radius: var(--borderRadius);
  filter: blur(8px);
  z-index: -1;
  transform: translateZ(-1px);
}

.rgb:nth-child(2)::after {
  animation-delay: 2s;
}

.rgb:nth-child(3)::after {
  animation-delay: 4s;
}

.rgb:nth-child(4)::after {
  animation-delay: 6s;
}

@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-image {
  grid-area: image;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}
.music .card-title {
  color: var(--bColor);
}

.maths .card-image {
  background-image: url('images/math.jpg');
}


.card-description {
  grid-area: text;
  color: var(--yangColor);
  margin: 25px;
  transform: translateZ(30px);
  /* width:250px; */
  /* border-radius: 0px 0px 20px 20px; */
}

.card-title {
  font-size: 2em;
  margin-bottom: 15px;
}

.js-tilt-glare {
  border-radius: var(--borderRadius);
}

@media (max-width: 1200px) {
  .canvas {
    height: 100%;
    min-height: 100%;
  }

  .container {
    justify-content: center;
  }

  .card-item {
    margin: 50px 20px;
  }
}





/* Style the tab */
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #131b1e;

}
.tablinks{
  color: white;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}